{% extends 'adminlte/base.html' %}

{% block content %}
     <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h4>Report generated successfully!</h4>
            </div>
              <div class="box-footer">
                  <a href="{% url 'excel_report_generator:success' file_path %}" type="button" class="btn btn-success" target="_blank">Download</a>
              </div>

          </div>
    </div>
    {% endblock %}