{% extends 'adminlte/base.html' %}
{% block stylesheets %}
    {% include 'adminlte/lib/_styles.html' %}
    <!-- date_range picker -->
    <link rel="stylesheet" href="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
{% endblock %}

{% block content %}
    <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Excel Report Generator</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="POST">
                 {% csrf_token %}
                  <div class="box-body">
                    <div class="form-group">
                        <label>Customer</label>
                            <select class="form-control" name="customer">
                                {% if customer %}
                                    {% for item in customer %}
                                         <option>{{ item.name }}</option>
                                    {% endfor %}
                                {% else %}
                                        <option>no customers registered yet</option>
                                {% endif %}
                            </select>
                    </div>

                  <div class="form-group">
                      <label>Filter by</label>
                      <select class="form-control" name="filter">
                        <option>Email_date</option>
                        <option>Creation_Date</option>
                      </select>
                    </div>

                  <div class="form-group">
                    <label>Date range:</label>

                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="text" class="form-control pull-right" id="reservation" name="date_range">
                    </div>
                    <!-- /.input group -->
                  </div>

                  <div class="checkbox">
                      <label>
                        <input type="checkbox" name="checkbox"> Sent
                      </label>
                    </div>
              <!-- /.box-body -->

              <div class="box-footer">
                  <!--<a href="./download_report" class="btn btn-primary" role="button">Generate</a>-->
                  <button type="submit" class="btn btn-primary" id="reservation" onclick="send()">Generate</button>
              </div>
              </div>
            </form>
          </div>
    </div>
    <!-- jQuery 3 -->
    <script src="https://adminlte.io/themes/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <div class="daterangepicker dropdown-menu ltr show-calendar opensleft" style="top: 1666.58px; right: 25px; left: auto; display: block;"><div class="calendar left"><div class="daterangepicker_input"><input class="input-mini form-control active" type="text" name="daterangepicker_start" value=""><i class="fa fa-calendar glyphicon glyphicon-calendar"></i><div class="calendar-time" style="display: none;"><div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div></div><div class="calendar-table"><table class="table-condensed"><thead><tr><th class="prev available"><i class="fa fa-chevron-left glyphicon glyphicon-chevron-left"></i></th><th colspan="5" class="month">May 2019</th><th></th></tr><tr><th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th></tr></thead><tbody><tr><td class="weekend off available" data-title="r0c0">28</td><td class="off available" data-title="r0c1">29</td><td class="off available" data-title="r0c2">30</td><td class="available" data-title="r0c3">1</td><td class="active start-date available" data-title="r0c4">2</td><td class="in-range available" data-title="r0c5">3</td><td class="weekend in-range available" data-title="r0c6">4</td></tr><tr><td class="weekend in-range available" data-title="r1c0">5</td><td class="in-range available" data-title="r1c1">6</td><td class="in-range available" data-title="r1c2">7</td><td class="in-range available" data-title="r1c3">8</td><td class="in-range available" data-title="r1c4">9</td><td class="in-range available" data-title="r1c5">10</td><td class="weekend in-range available" data-title="r1c6">11</td></tr><tr><td class="weekend in-range available" data-title="r2c0">12</td><td class="in-range available" data-title="r2c1">13</td><td class="in-range available" data-title="r2c2">14</td><td class="in-range available" data-title="r2c3">15</td><td class="in-range available" data-title="r2c4">16</td><td class="in-range available" data-title="r2c5">17</td><td class="weekend in-range available" data-title="r2c6">18</td></tr><tr><td class="weekend in-range available" data-title="r3c0">19</td><td class="in-range available" data-title="r3c1">20</td><td class="in-range available" data-title="r3c2">21</td><td class="in-range available" data-title="r3c3">22</td><td class="in-range available" data-title="r3c4">23</td><td class="in-range available" data-title="r3c5">24</td><td class="weekend in-range available" data-title="r3c6">25</td></tr><tr><td class="weekend in-range available" data-title="r4c0">26</td><td class="today in-range available" data-title="r4c1">27</td><td class="in-range available" data-title="r4c2">28</td><td class="in-range available" data-title="r4c3">29</td><td class="in-range available" data-title="r4c4">30</td><td class="in-range available" data-title="r4c5">31</td><td class="weekend off in-range available" data-title="r4c6">1</td></tr><tr><td class="weekend off in-range available" data-title="r5c0">2</td><td class="off in-range available" data-title="r5c1">3</td><td class="off in-range available" data-title="r5c2">4</td><td class="off in-range available" data-title="r5c3">5</td><td class="off in-range available" data-title="r5c4">6</td><td class="off active end-date in-range available" data-title="r5c5">7</td><td class="weekend off available" data-title="r5c6">8</td></tr></tbody></table></div></div><div class="calendar right"><div class="daterangepicker_input"><input class="input-mini form-control" type="text" name="daterangepicker_end" value=""><i class="fa fa-calendar glyphicon glyphicon-calendar"></i><div class="calendar-time" style="display: none;"><div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div></div><div class="calendar-table"><table class="table-condensed"><thead><tr><th></th><th colspan="5" class="month">Jun 2019</th><th class="next available"><i class="fa fa-chevron-right glyphicon glyphicon-chevron-right"></i></th></tr><tr><th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th></tr></thead><tbody><tr><td class="weekend off in-range available" data-title="r0c0">26</td><td class="today off in-range available" data-title="r0c1">27</td><td class="off in-range available" data-title="r0c2">28</td><td class="off in-range available" data-title="r0c3">29</td><td class="off in-range available" data-title="r0c4">30</td><td class="off in-range available" data-title="r0c5">31</td><td class="weekend in-range available" data-title="r0c6">1</td></tr><tr><td class="weekend in-range available" data-title="r1c0">2</td><td class="in-range available" data-title="r1c1">3</td><td class="in-range available" data-title="r1c2">4</td><td class="in-range available" data-title="r1c3">5</td><td class="in-range available" data-title="r1c4">6</td><td class="active end-date in-range available" data-title="r1c5">7</td><td class="weekend available" data-title="r1c6">8</td></tr><tr><td class="weekend available" data-title="r2c0">9</td><td class="available" data-title="r2c1">10</td><td class="available" data-title="r2c2">11</td><td class="available" data-title="r2c3">12</td><td class="available" data-title="r2c4">13</td><td class="available" data-title="r2c5">14</td><td class="weekend available" data-title="r2c6">15</td></tr><tr><td class="weekend available" data-title="r3c0">16</td><td class="available" data-title="r3c1">17</td><td class="available" data-title="r3c2">18</td><td class="available" data-title="r3c3">19</td><td class="available" data-title="r3c4">20</td><td class="available" data-title="r3c5">21</td><td class="weekend available" data-title="r3c6">22</td></tr><tr><td class="weekend available" data-title="r4c0">23</td><td class="available" data-title="r4c1">24</td><td class="available" data-title="r4c2">25</td><td class="available" data-title="r4c3">26</td><td class="available" data-title="r4c4">27</td><td class="available" data-title="r4c5">28</td><td class="weekend available" data-title="r4c6">29</td></tr><tr><td class="weekend available" data-title="r5c0">30</td><td class="off available" data-title="r5c1">1</td><td class="off available" data-title="r5c2">2</td><td class="off available" data-title="r5c3">3</td><td class="off available" data-title="r5c4">4</td><td class="off available" data-title="r5c5">5</td><td class="weekend off available" data-title="r5c6">6</td></tr></tbody></table></div></div><div class="ranges"><div class="range_inputs"><button class="applyBtn btn btn-sm btn-success" type="button">Apply</button> <button class="cancelBtn btn btn-sm btn-default" type="button">Cancel</button></div></div></div>
    <script src="https://adminlte.io/themes/AdminLTE/bower_components/moment/min/moment.min.js"></script>
    <script src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script>
    //Date range picker
    $('#reservation').daterangepicker()
    </script>
{% endblock %}
