{% extends 'adminlte/base.html' %}
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta http-equiv="Refresh" content="0;url=/success">
    {% endblock %}
{% block content %}
      <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h4>Successful download!</h4>
            </div>
              <div class="box-footer">
                  <a href="/" type="button" class="btn btn-success">Home</a>
              </div>

          </div>
    </div>

{% endblock %}